@font-face {
    font-family: 'Montserrat';
    src: url('../asset/font/Montserrat-Regular.ttf');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../asset/font/Roboto-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

Roboto-Light html {
    font-size: 62.5%;
}

:root {
    --main-hex-dark: #06384d;
    /* --main-orange: #FDCA40; */
    --main-orange: #ff8800bb;
    /* --main-orange: #9B4828; */
    --main-hex-light: #eaedf2;
    --main-white: #eaedf2;

}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana,
        Geneva,
        sans-serif;
    color: var(--main-hex-dark);
    background-color: var(--main-hex-light);
}

h1,
h2,
h3 {
    font-family: Montserrat;
}

p,
li,
a {
    font-family: Roboto;

}


h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;
}