html {
    font-size: 62.5%;
}

:root {
    --main-hex-dark: #06384d;
    --main-hex_splash: #FDCA40;
    --main-hex-light: #d2dad7;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana,
        Geneva,
        sans-serif;
    color: var(--main-hex-dark);
    background-color: var(--main-hex-light);
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;
    line-height: 20px;
}