html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
ul,
p {
    margin: 0;
    padding: 0;
    line-height: 20px;
}

header {
    width: 100vw;
    margin: 0;
    background-color: #08415C;
    color: #EEE5E9;
    font-size: 2.0rem;
    text-align: center;
    display: inline-block;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.title_about {
    width: 50%;
    margin: 10px;
    line-height: 40px;
    font-weight: 100;
}

.landing__container {
    display: flex;
    flex-flow: column;
    font-size: 1.5rem;
    margin: 0;
    padding-top: 25px;
    min-height: 100vh;

    align-items: center;
}

.landing__title {
    margin: 10px;
    font-size: 5rem;
    font-weight: 900;
}



.landing_skill {
    margin: 15px 50px;
    display: inline-block;
    width: 50vw;

}

.landing__subtitle {
    margin-bottom: 15px;
    text-align: center;
    padding: 10px;
    background-color: #08415C;
    color: #EEE5E9;
}

.smalltext {
    font-size: 1rem;
    font-weight: 200;
}

.title__sub {
    margin: 10px;
    font-weight: 100;

}

.projects_container {
    color: #08415C;
    font-size: 1.5rem;
    min-height: 90vh;

}

.projectcard__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


}

.project__card {
    background-color: white;
    color: #08415C;
    list-style: none;
    margin: 20px;
    width: min-content;
    display: flex;
    flex-flow: column;
    box-shadow: 2px 4px 9px gray;
    padding: 15px;
    border-radius: 5px;
    text-align: center;


}

.card__description {
    margin: 15px;

}

.card__title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 900;
    margin: 5px;
}