.nav_container {
    display: flex;
    position: fixed;
    background-color: var(--main-white);
    justify-content: end;
    flex-flow: row;
    font-size: 1.rem;
    width: 100vw;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    height: 42px;
    padding-bottom: 11px;
}

.navigationLink {
    font-size: 1.2rem;
    font-weight: 900;
    margin-right: 15px;
    color: var(--main-hex-dark);
    text-decoration: none;
    padding: 5px 10px;
    line-height: 36px;

}

.navigationLink:hover {
    transition-property: all;
    transition-duration: .2s;
    transition-delay: .12s;
    color: var(--main-hex-dark);
    border-bottom: 1rem solid var(--main-orange);
    padding: 5px 10px;

}

.navigationLink:active,
.active {
    transition-property: all;
    transition-duration: .2s;
    transition-delay: .12s;
    color: var(--main-hex-dark);
    border-bottom: 1rem solid var(--main-orange);
    padding: 5px 10px;
}


.contact__icons {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    grid-row: 3;
    grid-column: 2/ span2;
}

.contact__icons>a {
    font-size: 1.2rem;
    color: black;
    display: flex;
    flex-flow: column;

}


.landing__header {
    display: grid;
    grid-template-columns: 50px repeat(3, 1fr) 50px;
    grid-template-rows: 50px 1fr 50px;
    height: 100vh;
    padding: 15px;
    background-color: var(--main-hex-light);
    font-size: 2rem;
    font-weight: 200;

}

.landing__h1 {
    font-family: Montserrat;
    font-size: 5rem;
    letter-spacing: 0.062em;
    font-weight: 900;
    grid-row: 2;
    grid-column: 2;
    border-bottom: 5px solid var(--main-orange);
    margin-bottom: 30px;
}

.landing__subtitle {
    grid-row: 2;
    grid-column: 3;

}


.landing__Intro {
    font-size: 1.5rem;
    font-weight: 100;
    grid-column: 2 / span3;
    grid-row: 2;
    place-self: center;
    width: 75%;
}


@media (max-width: 375px) {
    .landing__header {
        display: flex;
        flex-flow: column;
    }

}

.container {
    font-size: 1.5rem;
    min-height: 100vh;
    display: grid;
    padding-top: 64px;
    margin-bottom: 50px;
    grid-template-rows: 100px min-content min-content 25px;
    grid-template-columns: 50px 1fr 50px;
}

.section_heading {
    grid-row: 1;
    grid-column: 2/3;
    font-size: 4rem;
    font-weight: 900;
    font-weight: 900;
    width: 100%;
    border-bottom: 5px solid var(--main-orange);
    margin-bottom: 5px;
    text-align: center;
}

.section__description {
    display: flex;
    flex-flow: column;
    grid-row: 2;
    grid-column: 2;
    margin-bottom: 25px;
}

.section__info {
    grid-row: 3;
    grid-column: 2;
}

.toTopLink {
    grid-row: 4;
    grid-column: 3;
    justify-self: end;
}