.sectionLink {
    font-size: 1.2rem;
    font-weight: 900;
    margin-right: 15px;
    color: var(--main-hex-light);
    text-decoration: none;


}

.sectionLink:hover {
    color: var(--main-hex_splash);
    text-decoration: underline;
}

.sectionLink:active {
    color: var(--main-hex_splash);
    text-decoration: underline;
}


.section__container {
    background-color: cadetblue;
    margin-top: 10px;
}

.landing__header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px 1fr;
    height: 96vh;
    padding: 15px;
    color: var(--main-hex-light);
    font-size: 1.2rem;
    background-color: #0f516d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%2306384d' fill-opacity='0.24' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.landing__container {
    margin: 25px 0;
}

.landing__h1 {
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 0.062em;
    font-weight: 400;
    font-style: normal;

}

.landing__content {
    grid-row: 2;
    grid-column: 1;
    text-align: center;
    margin-bottom: 25px;
}

.nav_container {
    display: flex;
    justify-content: end;
    flex-flow: row;
    font-size: 1.2rem;
    margin-top: 15px;
    grid-column: 1 /span2;
}

.contact__container {
    display: flex;
    flex-flow: column;
    grid-column: 1;
    text-align: center;

}

.contact__icons {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 375px) {
    .landing__header {
        display: flex;
        flex-flow: column;
    }
}