body {
    background-color: #252422;
    grid-template-columns: 80vw 1fr;
    grid-template-rows: 75px 1fr;
    display: grid;
    height: 100vh;
    width: 100vw;
    color: #F5F9E9;
    overflow: hidden;
}

.header {
    width: 100%;
    padding-left: 30px;
}

.container {
    grid-column-start: 1;
    grid-row-start: 2;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.info {
    background-color: #F5F9E9;
    color: #252422;
    width: 60vw;
    height: 70vh;
    border-radius: 5px;


}

.nav {
    grid-column-start: 2;
    grid-row: 1/3;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f5f9e942;
    background-color: #353535;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    li {
        padding-top: 150px;
    }
}

.nav__container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 62.8%;
    text-align: center;

}

.nav__above {

    color: blue;
    font-size: 3em;
    grid-row: 1;
    display: flex;
    flex-flow: column;
}

.nav__current {
    color: #F5F9E9;
    grid-row: 2;
    font-size: 5em;
}

.nav__below {
    color: navy;
    grid-row: 3;
    display: flex;
    flex-flow: column;
    font-size: 3em;
}